<!DOCTYPE html>
<html>
  <head>
    <title>The Film</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    
    <script src="https://kit.fontawesome.com/9128ff7549.js" crossorigin="anonymous"></script>    
    <script src="js/shared/angular-1.2.32.min.js"></script>
        
  </head>

  <body ng-app="main" ng-controller="mainController" style="cursor: default;">

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide"><i class="fas fa-video"></i> The Film</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">    
          <a href="#about" class="w3-bar-item w3-button">ABOUT US</a>                    
          <a href="#project" class="w3-bar-item w3-button"><i class="fas fa-film"></i> PROJECT</a>
          <a href="#team" class="w3-bar-item w3-button"><i class="fas fa-users"></i> TEAM</a>
          <a href="#production" class="w3-bar-item w3-button"><i class="fa fa-chart-pie"></i> PRODUCTION</a>
          <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16 w3-light-grey">x Close</a>
      <a href="#about" class="w3-bar-item w3-button" onclick="w3_close()">ABOUT US</a>                    
      <a href="#project" class="w3-bar-item w3-button" onclick="w3_close()"><i class="fas fa-film"></i> PROJECT</a>
      <a href="#team" class="w3-bar-item w3-button" onclick="w3_close()"><i class="fas fa-users"></i> TEAM</a>
      <a href="#production" class="w3-bar-item w3-button" onclick="w3_close()"><i class="fa fa-chart-pie"></i> PRODUCTION</a>
      <a href="#contact" class="w3-bar-item w3-button" onclick="w3_close()">CONTACT</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home" name="home">
      <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Coming soon</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Coming soon</span><br>
        <i class="w3-serif">" Art is not a mirror held up to reality,<span class="w3-hide-medium w3-hide-large"><br></span> but a hammer with which to shape it. "<br><i class="w3-right">(Bertolt Brecht)</i></i>
        <!--<p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>-->
      </div> 
      <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px;">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <div class="w3-display-bottomright w3-text-grey w3-large w3-hide-small" style="padding:24px 48px">
        <a class="w3-small" href="https://www.pexels.com/photo/spotlight-on-a-red-curtain-4722577/" target="_blank">
          Photo by <b>cottonbro</b> from <b>Pexels</b>
        </a>
      </div>
      <div class="w3-display-bottomright w3-text-grey w3-large w3-hide-large w3-hide-medium" style="padding:27px 48px">
        <a class="w3-small" href="https://www.pexels.com/photo/spotlight-on-a-red-curtain-4722577/" target="_blank">
          Ph <b>cottonbro</b>
        </a>
      </div>
    </header>

    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="about" name="about">
      <h3 class="w3-center">ABOUT US</h3>
      <p class="w3-center w3-large">Key features of our company</p>
      <div class="w3-row-padding w3-center" style="margin-top:64px;">
        
        <div class="w3-third w3-padding-large">
          <i class="fas fa-dragon w3-margin w3-jumbo"></i>
          <p class="w3-large">Creativity</p>          
          <p class="w3-tooltip">
            <i class="fas fa-music"></i>&nbsp; Come with "us"<br>
            And you'll be<br>
            In a world<br>
            of pure imagination...
          </p>            
        </div>

        <div class="w3-third w3-padding-large">
          <i class="fa fa-heart w3-margin w3-jumbo"></i>
          <p class="w3-large">Passion</p>
          <p>Cinema, a lifetime Passion. Are we talking about love? Yes, this is how we like to define it.</p><br>
        </div>

        <div class="w3-third w3-padding-large">
          <i class="fas fa-glasses w3-margin w3-jumbo w3-center"></i>
          <p class="w3-large">Based on Experience</p>
          <p>Experience is action. We aim for pragmatism, in a world where a papersheet counts more than Experience.</p><br>
        </div>

      </div>
    </div>

    <!-- Project Section -->
    <div class="w3-container w3-light-grey" id="project" style="padding: 80px 16px 64px 16px;">
            
      <div class="w3-row-padding">
        <div class="w3-col m6 w3-padding-large">
          <h3>The Project</h3>
          <p>The chair sat in the corner where it had been for over 25 years.
            The only difference was there was someone actually sitting in it.
            How long had it been since someone had done that? Ten years or more he imagined.
            Yet there was no denying the presence in the chair now.</p>
        </div>

        <div class="w3-col m6  w3-padding-large">
          <p class="w3-wide"><i class="fas fa-feather w3-margin-right"></i>screenplay</p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width:100%">100%</div>
          </div>

          <p class="w3-wide"><i class="fas fa-file-video w3-margin-right"></i>shot list</p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width:65%">65%</div>
          </div>

          <p class="w3-wide"><i class="fa fa-images w3-margin-right"></i>storyboard</p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width:15%">15%</div>
          </div>
        </div>       
      </div>

      <br>
      <!-- prev next buttons to slide between projects-->
    </div>

     <!-- Next Milestone Deadline -->
    <div class="w3-container w3-center w3-dark-grey">
      <br>
      <h1>Next Milestone Deadline</h1>
      <div class="w3-container w3-row w3-center w3-padding-64">
        <div class="w3-quarter">
          <span class="w3-xxlarge">60</span>
          <br>Days
        </div>
        <div class="w3-quarter">
          <span class="w3-xxlarge">7</span>
          <br>Hours
        </div>  
    
        <div class="w3-quarter">
          <span class="w3-xxlarge">40</span>
          <br>Minutes
        </div>      
        <div class="w3-quarter">
          <span class="w3-xxlarge" id="seconds">7</span>
          <br>Seconds
        </div>      
      </div>
    </div>

    <script>
      window.setInterval(()=>{
        let span = document.querySelector('span#seconds')
        let value = Number(span.innerText)
        value = --value <= 0 ? 60 : value
        span.innerText = value
      }, 1000)

        
    </script>
     

    <!-- The Team Section  -->
    <div class="w3-container" style="padding:128px 16px" id="team">
      <h3 class="w3-center">THE TEAM</h3>
      <p class="w3-center w3-large">Our Awesome people</p>

      <div class="w3-container" style="margin-top:64px; display: flex; flex-wrap: wrap; justify-content: center;">

        <div class="w3-card w3-margin" style="width:200px; height: 200px; cursor: pointer;" ng-repeat="person in team | limitTo: showMore ? team.length : 2" ng-click="showModal(person)">
          <img ng-src="{{person.img}}" style="width:100%" class="w3-hover-opacity" alt="{{person.name}}">
          <h6 class="w3-padding">{{person.name}}</h6>
        </div>    

        <div class="w3-card w3-margin w3-opacity" style="width:200px; height: 200px; cursor: pointer;" ng-if="!showMore" ng-click="showModal(team[2])">
          <img ng-src="{{team[2].img}}" style="width:100%" class="w3-hover-opacity" alt="{{team[2].name}}">
          <h6 class="w3-padding">{{team[2].name}}</h6>
        </div> 

        <div class="w3-card w3-margin w3-opacity-max" style="width:200px; height: 200px; cursor: pointer;" ng-if="!showMore" ng-click="showModal(team[3])">
          <img ng-src="{{team[3].img}}" style="width:100%" class="w3-hover-opacity" alt="{{team[3].name}}">
          <h6 class="w3-padding">{{team[3].name}}</h6>
        </div> 

        <!-- The Modal -->
        <div class="w3-modal" ng-style="{display: show ? 'block':'none'}">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
              <span ng-click="hideModal()" class="w3-button w3-display-topright">&times;</span>
              
              <div>

                <div class="w3-container w3-margin-top">
                  <img class="w3-left w3-circle w3-margin-right" ng-src="{{modal.img}}" alt="{{modal.name}}" style="width: 4em; height: 4em;">
                  <h6>
                    {{modal.name}}
                    <br>
                    <span class="w3-opacity">{{modal.role}}</span>
                  </h6>
                </div>     
                      
                <div class="w3-container">
                  <p style="overflow-y: auto; max-height: 300px;">{{modal.bio}}</p>
                  <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      
      </div>

      <br>
      <p class="w3-center"><a ng-href="{{showMore ? '' : '#team'}}"><button class="w3-button" ng-click="showMore = !showMore">show {{ !showMore ? 'more' : 'less' }}</button></a></p>
    </div>

    <!-- Collaborators -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
      <div class="w3-quarter">
        <span class="w3-xxlarge">4+</span>
        <br>Technicians
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">15+</span>
        <br>Crew
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">7+</span>
        <br>Cast
      </div>  
      <div class="w3-quarter">
        <span class="w3-xxlarge">26+</span>
        <br>Total Staff
      </div>      
    </div>

    <!-- Producers Section -->
    <div class="w3-container" style="padding: 128px 16px;" id="production"  name="production">
      <h3 class="w3-center">The Producers</h3>
      <p class="w3-center w3-large">The ones who runs this company</p>
      
      <br><br>

      <div class="w3-container w3-grayscale" style="display: flex; flex-wrap: wrap; justify-content: center;">

          <div class="w3-card w3-margin" style="max-width: 300px;">
            <img src="img/pexels-alleksana-4271927.jpg" alt="Giuseppe Trapani" style="width:100%">
            <div class="w3-container">
              <h3>Giuseppe Trapani</h3>
              <p class="w3-opacity">Producer</p>
              <p>48 ITA</p>
              <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
            </div>
          </div>

          <div class="w3-card w3-margin" style="max-width: 300px;">
            <img src="img/pexels-alleksana-4271927.jpg" alt="Flaminia Trapani" style="width:100%">
            <div class="w3-container">
              <h3>Flaminia Trapani</h3>
              <p class="w3-opacity">Film Director and Screenwriter</p>
              <p>28 ITA</p>
              <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
            </div>
          </div>

      </div>
    </div>

    <!-- Fundings -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64"> 
      <div class="w3-quarter">
        <span class="w3-xxlarge">{{ 63475 | currency : '€' }}</span>
        <br>Salaries
      </div> 
      <div class="w3-quarter">
        <span class="w3-xxlarge">{{ 12608 | currency : '€' }}</span>
        <br>Equipment rental
      </div> 
      <div class="w3-quarter">
        <span class="w3-xxlarge">{{ 27000 | currency : '€' }}</span>
        <br>Fundings found
      </div>      
      <div class="w3-quarter">
        <span class="w3-xxlarge">{{ 109412 | currency : '€' }}</span>
        <br>Fundings required
      </div>
      
    </div>

    <!-- contact us -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact" name="contact">
      <h3 class="w3-center">CONTACT</h3>
      <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
      <div style="margin-top:48px">
        
        <!-- <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
        <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
        <br> -->

        <form action="/action_page.php" target="_blank" style="padding: 0 3em 0 3em;">
          <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Your Email" required name="Email"></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
          <p><textarea class="w3-input w3-border" placeholder="Message" required name="Message" rows="3"></textarea></p>
          <p>
            <button class="w3-button w3-black" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
          </p>
        </form>

      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p class="w3-tiny">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>


    <script>     
      // Toggle between showing and hiding the sidebar when clicking the menu icon
      var mySidebar = document.getElementById("mySidebar");
      
      function w3_open() {
        if (mySidebar.style.display === 'block') {
          mySidebar.style.display = 'none';
        } else {
          mySidebar.style.display = 'block';
        }
      }
      
      // Close the sidebar with the close button
      function w3_close() {
          mySidebar.style.display = "none";
      }
    </script>

    
    <!-- modules -->
    <script src="js/angular/app.js"></script>
    <!-- controllers -->
    <script src="js/angular/controllers/mainController.js"></script>
    
  </body>


</html>
