<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/9128ff7549.js" crossorigin="anonymous"></script>
    
    <script src="js/shared/angular-1.2.32.min.js"></script>
        
  </head>

  <body ng-app="main" ng-controller="mainController">

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide"><i class="fas fa-video"></i> The Film</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">    
          <a href="#about" class="w3-bar-item w3-button">ABOUT</a>                    
          <a href="#project" class="w3-bar-item w3-button"><i class="fas fa-film"></i> PROJECTs</a>
          <a href="#team" class="w3-bar-item w3-button"><i class="fas fa-users"></i> TEAM</a>
          <a href="#production" class="w3-bar-item w3-button"><i class="fa fa-chart-pie"></i> PRODUCTION</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16 w3-light-grey">x Close</a>
      <a href="#about" class="w3-bar-item w3-button" onclick="w3_close()">ABOUT</a>                    
      <a href="#project" class="w3-bar-item w3-button" onclick="w3_close()"><i class="fas fa-film"></i> PROJECTs</a>
      <a href="#team" class="w3-bar-item w3-button" onclick="w3_close()"><i class="fas fa-users"></i> TEAM</a>
      <a href="#production" class="w3-bar-item w3-button" onclick="w3_close()"><i class="fa fa-chart-pie"></i> PRODUCTION</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home" name="home">
      <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Coming soon</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Coming soon</span><br>
        <i class="w3-serif">" Art is not a mirror held up to reality,<span class="w3-hide-medium w3-hide-large"><br></span> but a hammer with which to shape it. "<br><i class="w3-right">(Bertolt Brecht)</i></i>
        <!--<p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>-->
      </div> 
      <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <div class="w3-display-bottomright w3-text-grey w3-large w3-hide-small" style="padding:24px 48px">
        <a class="w3-small" href="https://www.pexels.com/photo/spotlight-on-a-red-curtain-4722577/" target="_blank">
          Photo by <b>cottonbro</b> from <b>Pexels</b>
        </a>
      </div>
      <div class="w3-display-bottomright w3-text-grey w3-large w3-hide-large w3-hide-medium" style="padding:27px 48px">
        <a class="w3-small" href="https://www.pexels.com/photo/spotlight-on-a-red-curtain-4722577/" target="_blank">
          Ph <b>cottonbro</b>
        </a>
      </div>
    </header>

    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="about" name="about">
      <h3 class="w3-center">ABOUT THE PRODUCTION</h3>
      <p class="w3-center w3-large">Key features of our company</p>
      <div class="w3-row-padding w3-center" style="margin-top:64px;">
        <div class="w3-third">
          <i class="fas fa-glasses w3-margin w3-jumbo w3-center"></i>
          <p class="w3-large">Based on Experience</p>
          <p>Experience is action. We aim for pragmatism, in a world where a papersheet counts more than Experience.</p><br>
        </div>

        <div class="w3-third">
          <i class="fa fa-heart w3-margin w3-jumbo"></i>
          <p class="w3-large">Passion</p>
          <p>Cinema, a lifetime Passion. Are we talking about love? Yes, this is how we like to define it.</p><br>
        </div>

        <div class="w3-third">
          <i class="fas fa-dragon w3-margin w3-jumbo"></i>
          <p class="w3-large">Creativity</p>
          
          <p class="w3-tooltip">
            <i class="fas fa-music"></i> Come with "us"<br>
            And you'll be<br>
            In a world<br>
            of pure imagination...  <br><br>
            <span class="w3-text w3-tiny w3-bold"><b>Pure Imagination</b><br> <em>Album Willy Wonka and the Chocolate Factory<br> (Soundtrack from the Motion Picture)</em></span>
          </p>
            
        </div>
      </div>
    </div>

    <!-- Skills Section -->
    <div class="w3-container w3-light-grey w3-padding-64" id="project">
      
      <div class="w3-row-padding">

        <div class="w3-col m6">
          <h3>Projects</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
          tempor incididunt ut labore et dolore.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
          tempor incididunt ut labore et dolore.</p>
        </div>

        <!-- timeline/main_steps_progress/todolist/clock_progress -->
        <div class="w3-col m6">
          <p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>Photography</p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width:90%">90%</div>
          </div>
          <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>Web Design</p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width:85%">85%</div>
          </div>
          <p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Photoshop</p>
          <div class="w3-grey">
            <div class="w3-container w3-dark-grey w3-center" style="width:75%">75%</div>
          </div>
        </div>
      </div>

      <!-- prev next buttons to slide between projects-->
    </div>

    <!-- The Team Section -->
    <div class="w3-container" style="padding:128px 16px" id="team">
      <h3 class="w3-center">THE TEAM</h3>
      <p class="w3-center w3-large">Our Awesome people</p>

      <div class="w3-container" style="margin-top:64px; display: flex; flex-wrap: wrap; justify-content: center;">

        <div class="w3-card w3-margin" style="width:200px; height: 200px;" ng-repeat="person in team | limitTo: showMore ? team.length : 2" ng-click="showModal(person)">
          <img ng-src="{{person.img}}" style="width:100%" class="w3-hover-opacity" alt="{{person.name}}">
          <h6 class="w3-padding">{{person.name}}</h6>
        </div>    

        <div class="w3-card w3-margin w3-opacity" style="width:200px; height: 200px;" ng-if="!showMore" ng-click="showModal(team[2])">
          <img ng-src="{{team[2].img}}" style="width:100%" class="w3-hover-opacity" alt="{{team[2].name}}">
          <h6 class="w3-padding">{{team[2].name}}</h6>
        </div> 

        <div class="w3-card w3-margin w3-opacity-max" style="width:200px; height: 200px;" ng-if="!showMore" ng-click="showModal(team[3])">
          <img ng-src="{{team[3].img}}" style="width:100%" class="w3-hover-opacity" alt="{{team[3].name}}">
          <h6 class="w3-padding">{{team[3].name}}</h6>
        </div> 

        <!-- The Modal -->
        <div class="w3-modal" ng-style="{display: show ? 'block':'none'}">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
              <span ng-click="hideModal()" class="w3-button w3-display-topright">&times;</span>
              
              <div>

                <div class="w3-container w3-margin-top">
                  <img class="w3-left w3-circle w3-margin-right" ng-src="{{modal.img}}" alt="{{modal.name}}" style="width: 4em; height: 4em;">
                  <h6>
                    {{modal.name}}
                    <br>
                    <span class="w3-opacity">{{modal.role}}</span>
                  </h6>
                </div>     
                      
                <div class="w3-container">
                  <p style="overflow-y: auto; max-height: 300px;">{{modal.bio}}</p>
                  <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      
      </div>

      <br>
      <p class="w3-center"><a ng-href="{{showMore ? '' : '#team'}}"><button class="w3-button" ng-click="showMore = !showMore">show {{ !showMore ? 'more' : 'less' }}</button></a></p>
    </div>

    <!-- Promo Section "Statistics" -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
      <div class="w3-quarter">
        <span class="w3-xxlarge">15</span>
        <br>Collaborators
      </div>
      <div class="w3-quarter">
        <span class="w3-xxlarge">7</span>
        <br>Cast
      </div>  
  
      <div class="w3-quarter">
        <span class="w3-xxlarge">{{ 27000 | currency : '€' }}</span>
        <br>Fundings found
      </div>      
      <div class="w3-quarter" style="cursor: pointer;" onclick="document.getElementById('chartpie').style.display='block'">
        <span class="w3-xxlarge">{{ 100000 | currency : '€' }}</span>
        <br>Fundings required
      </div>
      
    </div>

    <!-- <i class="fa fa-chart-pie"></i> -->

    <div class="w3-modal" id="chartpie">
      <div class="w3-modal-content">
        <div class="w3-card w3-padding-large">
          <h1>
          <i class="fa fa-chart-pie" style="font-size: 128px;"></i></h1>
        </div>        
      </div>
    </div>

    <!-- Producers Section -->
    <div class="w3-container" style="padding: 128px 16px;" id="production"  name="production">
      <h3 class="w3-center">The Producers</h3>
      <p class="w3-center w3-large">The ones who runs this company</p>
      
      <br><br>

      <div class="w3-container w3-grayscale" style="display: flex; flex-wrap: wrap; justify-content: center;">

          <div class="w3-card w3-margin" style="max-width: 300px;">
            <img src="img/pexels-alleksana-4271927.jpg" alt="Giuseppe Trapani" style="width:100%">
            <div class="w3-container">
              <h3>Giuseppe Trapani</h3>
              <p class="w3-opacity">Producer</p>
              <p>48 ITA</p>
              <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
            </div>
          </div>

          <div class="w3-card w3-margin" style="max-width: 300px;">
            <img src="img/pexels-alleksana-4271927.jpg" alt="Flaminia Trapani" style="width:100%">
            <div class="w3-container">
              <h3>Flaminia Trapani</h3>
              <p class="w3-opacity">Film Director and Screenwriter</p>
              <p>28 ITA</p>
              <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
            </div>
          </div>

      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p class="w3-tiny">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>

    <!-- modules -->
    <script src="js/angular/app.js"></script>
    <!-- controllers -->
    <script src="js/angular/controllers/mainController.js"></script>
    
  </body>


</html>
